<div class="container">
    <div class="row mt-4">
        <div class="col-3">
            <div class="user-image">
                <img src='./assets/user.png' alt="user">
            </div>
        </div>
        <div class="col-9">
            <form (ngSubmit)="editPatient()" [formGroup]="userForm" novalidate>
                <div class="row">
                    <div class="col-3">
                        First Name
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" formControlName="firstName"
                               value={{currentPatient.firstName}}>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        Last Name
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" formControlName="lastName"
                               value={{currentPatient.lastName}}>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        Doctor
                    </div>
                    <div class="col-9">
                        <select type="text" class="form-control" formControlName="doctor">
                            <option [value]="" [selected]="true">{{currentPatient.doctor}}</option>
                            <option *ngFor="let doctor of doctors"
                                    [value]="doctor">
                                {{doctor}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        City
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" formControlName="city"
                               value={{currentPatient.city}}>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        Street
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" formControlName="street"
                               value={{currentPatient.street}}>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        Date Of Birth
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" formControlName="dateOfBirth"
                               value={{currentPatient.dateOfBirth}}>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        Phone number
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" formControlName="phoneNumber"
                               value={{currentPatient.phoneNumber}}>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-3">
                        State of health
                    </div>
                    <div class="col-9">
                        <textarea type="text" class="form-control" formControlName="diagnosis"
                                  value={{history.diagnosis}}></textarea>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        Analysis
                    </div>
                    <div class="col-9">
                        <textarea type="text" class="form-control" formControlName="analysis"
                                  value={{history.analysis}}></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4 mt-2">
                        <button type="submit" class="btn btn-block add-record-btn">
                            Save Changes
                        </button>
                    </div>
                    <div class="col-4 mt-2">
                        <button type="submit" class="btn btn-block add-record-btn">
                            Send an email
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
