<div>
  <div class="calendar container-fluid  h-100">
    <div class="row">
      <div class="col-lg-2 col-md-3 right-side">
        <div class="calendar-controls text-center">
          <p>
            {{ selectedMonth | date:'MMMM yyyy' }}
            <button class="btn btn-secondary export-to-csv-btn" (click)="toCsv()">csv</button>
          </p>
          <button class="btn calendar-control-btn" (click)="getMonth(-1)">Prev month</button>
          <button class="btn calendar-control-btn" (click)="getMonth(1)" style="margin-top: 5px">Next month</button>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-2 py-sm-0 px-0" *ngFor="let day of getDaysInMonth() | monthIterable">
            <div (click)="navigateToDayDetails(day)" [ngClass]="(checkDay(day))?'calendar-day filled':'calendar-day'">
              <div class="col text-left">
                <span class="font-weight-bold"> {{day}}</span>
              </div>
              <div class="col text-left">
                <div *ngIf="getDayStats(day) as numberOfPatients">
                  <p>Patients: {{numberOfPatients}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
